/*Обнуление*/
* {
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@font-face {
  font-family: BlackerSans;
  src: url("/public/fonts/BlackerSans/0_BlackerSansProVariableGX.ttf")
    format("truetype");
  src: url("/public/fonts/BlackerSans/0_BlackerSansProVariableGX.woff")
    format("woff");
  src: url("/public/fonts/BlackerSans/0_BlackerSansProVariableGX.woff2")
    format("woff2");
}

@font-face {
  font-family: BlackerSansIt;
  src: url("/public/fonts/BlackerSans/1_BlackerSansProItVariableGX.ttf")
    format("truetype");
  src: url("/public/fonts/BlackerSans/1_BlackerSansProItVariableGX.woff")
    format("woff");
  src: url("/public/fonts/BlackerSans/1_BlackerSansProItVariableGX.woff2")
    format("woff2");
}
/*------------------------------------------------------------------------------------------------------------------*/

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: content-box;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*------------------------------------------------------------------------------------------------------------------*/
body._pc .header__menu-list > li:hover .header__menu-sublist {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header {
  &__container {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  &__logo {
    width: 390px;
    height: 83px;
  }

  &__menu {
    &-sublist {
      position: absolute;
      top: 80px;
      background-color: #fff;
      padding: 40px 20px;
      border-radius: 20px;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s ease;
    }

    &-subitem {
      &:not(:last-child) {
        margin: 0 0 15px 0;
      }
    }

    &-sublink {
      color: rgb(0, 0, 0);
      font-family: BlackerSans, sans-serif;
      font-size: 16px;
      font-weight: 162;
      line-height: 19px;
      transition: all 0.3s ease;

      &:hover {
        color: rgb(255, 145, 52);
      }
    }
  }

  &__menu-list {
    display: flex;

    & > li {
      padding: 20px 0;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin: 0 80px 0 0;
    }
  }

  &__menu-link {
    color: rgb(83, 83, 83);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: all 0.3s ease;
    text-transform: uppercase;

    &:hover {
      color: rgb(255, 145, 52);
    }
  }

  &__contacts {
    &-tel {
      display: flex;

      &-img {
        width: 19px;
        height: 19px;
        margin: 0 10px 0 1px;
      }

      &-text {
        color: rgb(83, 83, 83);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        margin: 0 0 7px 0;
      }
    }

    &-mail {
      display: flex;

      &-img {
        width: 23px;
        height: 23px;
        margin: 0 7px 0 0;
      }

      &-text {
        color: rgb(83, 83, 83);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }
    }
  }
}
/*------------------------------------------------------------------------------------------------------------------*/

.article {
  margin: 60px 0 50px 0;
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    color: rgb(0, 0, 0);
    font-family: BlackerSans, sans-serif;
    font-size: 16px;
    font-weight: 162;
    line-height: 19px;
  }

  &__title {
    color: rgb(0, 0, 0);
    font-family: BlackerSans, sans-serif;
    font-size: 50px;
    font-weight: 294;
    line-height: 59px;
    max-width: 1710px;

    margin: 0 0 50px 0;
  }

  &__body {
    display: flex;
    gap: 30px;
    margin: 0 0 20px 0;
  }

  &__mediablock {
    flex: 0 1 50%;
    height: 585px;
  }

  &__textblock {
    flex: 0 1 50%;

    &-one {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-style: italic;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0%;
      margin: 0 0 20px 0;

      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 880px;
        height: 0;
        left: 0;
        top: 85px;
        border: 1px solid rgb(255, 145, 52);
      }
    }

    &-two {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      margin: 0 0 26px 0;
    }

    &-three {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin: 0 0 27px 0;
    }

    &-four {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0%;
    }
  }

  &__text {
    p {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin: 0 0 20px 0;
    }

    .article__text-bold {
      font-weight: 600;
    }
  }

  span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  &__source {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(255, 145, 52);
  }

  &__button {
    color: rgb(255, 255, 255);
    font-family: BlackerSans, sans-serif;
    font-size: 16px;
    font-weight: 360;
    line-height: 19px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(255, 145, 52);
    width: 226px;
    height: 40px;
    margin: 20px 0 0 0;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/

.news {
  margin: 0 0 100px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 880px;
    height: 0;
    left: 520px;
    top: 350px;
    border: 1px solid rgb(255, 145, 52);
  }

  &__title {
    color: rgb(83, 83, 83);
    font-family: BlackerSans, sans-serif;
    font-size: 50px;
    font-weight: 162;
    line-height: 59px;
    text-transform: uppercase;
    margin: 0 0 80px 0;
  }

  .arrow {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 36px;
    margin: 0 6.1px;
    border-radius: 9999px;
    background-color: rgb(255, 145, 52);
  }

  .arrow::before,
  .arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 1px);
    width: 2px;
    height: 11px;
    border-radius: 9999px;
    background-color: rgb(255, 145, 52);
    transform-origin: 50% calc(100% - 1px);
  }

  .arrow::before {
    transform: rotate(42.5deg);
  }

  .arrow::after {
    transform: rotate(-42.5deg);
  }

  &__blocks {
    display: flex;
    gap: 40px;

    &-item {
      display: flex;
      align-items: center;
      flex: 0 1 33.333%;

      &-mediablock {
        margin: 0 40px 0 0;
      }

      &-textblock {
        &-title {
          color: rgb(0, 0, 0);
          font-family: BlackerSans, sans-serif;
          font-size: 16px;
          font-weight: 360;
          line-height: 120%;
          width: 266px;
          margin: 0 0 38px 0;
        }

        &-subtitle {
          color: rgb(0, 0, 0);
          font-family: BlackerSans, sans-serif;
          font-size: 16px;
          font-weight: 162;
          line-height: 19px;
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------------------------------------------*/

.footer {
  margin: 0 0 10px 0;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
  }

  &__menu {
    &-list {
      display: flex;
    }

    &-item {
      &:not(:last-child) {
        margin: 0 50px 0 0;
      }
    }

    &-link {
      color: rgb(0, 0, 0);
      font-family: BlackerSans, sans-serif;
      font-size: 16px;
      font-weight: 162;
      line-height: 19px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;

    &-tel {
      &-text {
        color: rgb(83, 83, 83);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        margin: 0 50px 0 0;
      }
    }

    &-mail {
      &-text {
        color: rgb(83, 83, 83);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }
    }
  }

  &__bottom {
    color: rgba(83, 83, 83, 0.7);
    font-family: BlackerSans, sans-serif;
    font-size: 16px;
    font-weight: 162;
    line-height: 19px;
    text-align: center;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
